:root {
    --p1-color: #0e0e0e;
    --s1-color: #F2F2F2;
    --s2-color: #dfdfdf;
    --n1-color: #003f8b;
    --n2-color: red;
    --shadow: black;
    --p-margin: 50%;
    --top-margin: 0;
    --padding-whole: 1vh 2vh;
    --text-font-size: 1.5vh;
    --header-font-size: 2.5vh;
    --object-font-size: 2.5vh;
    --big-font-size: 4vh;
    --text: "Open Sans", sans-serif;
    --text-color: #1d1d1d;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text);
    color: var(--text-color);
    text-decoration: none;
  }
  body {
    width: 100%;
    min-height: 100dvh;
    background-image: linear-gradient(var(--s2-color) 0.1vh, transparent 0.1vh), linear-gradient(to right, var(--s2-color) 0.1vh, transparent 0.1vh);
    background-size: 2vh 2vh;
    background-color: var(--s1-color);
  }
  body .everything {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3vh;
    margin-top: 6vh;
    padding-bottom: 3vh;
    padding-top: 0vh;
  }
  body .everything .landing-page-background {
    position: relative;
    width: 100%;
    gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  body .everything .nav-bar {
    width: var(--p-margin);
  }
  body .everything .nav-bar .nav-options {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: var(--padding-whole);
  }
  body .everything .nav-bar .nav-options .logo {
    cursor: pointer;
    font-size: var(--header-font-size);
    font-weight:bolder;
    text-transform: capitalize;
    color: #D82148;
  }
  body .everything .nav-bar .nav-options .pc-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
  }
  body .everything .nav-bar .nav-options .pc-options .nav-option {
    cursor: pointer;
    font-weight: bold;
    font-size: var(--header-font-size);
  }
  body .nav-option:hover{
    color: #D82148;
    transition:ease-in-out,0.3s;
  }
  body .everything .hero-page {
    transition: 0.2s ease-in-out;
    width: 100%;
    padding: var(--padding-whole);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 0vh;
  }
  body .everything .hero-page .hero-page-slogan {
    width: var(--p-margin);
    font-size: var(--header-font-size);
    height: 10vh;
    padding-left: 1vh;
  }
  body .everything .hero-page .hero-page-slogan span {
    font-size: var(--big-font-size);
    font-weight: bold;
  }
  body .everything .hero-page .search-part {
    width: 49%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body .everything .hero-page .search-part .text-input {
    width: 100%;
    height: 100%;
    display: flex;
  }
  body .everything .hero-page .search-part .text-input #search-id {
    cursor: pointer;
    width: 95%;
    height: 100%;
    padding-left: 2vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    outline: none;
    font-size: var(--text-font-size);
    border-radius: 0.5vh;
  }
  body .everything .hero-page .search-part .text-input:hover #search-id {
    border: 0.5vh solid var(--p1-color);
  }
  body .everything .hero-page .search-part .search-btn {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 1vh;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    border-radius: 0.5vh;
  }
  body .everything .hero-page .search-part .search-btn .search-txt {
    font-weight: bold;
    font-size: var(--text-font-size);
  }
  body .everything .hero-page .search-part .search-btn .search-image {
    width: 20%;
    height: 100%;
  }
  body .everything .every-projects-link {
    transition: 0.2s ease-in-out;
    width: var(--p-margin);
    gap: 3vh;
    padding: var(--padding-whole);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .everything .every-projects-link .header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  body .everything .every-projects-link .header .main-header {
    font-size: var(--header-font-size);
    font-weight: bold;
    text-transform: uppercase;
  }
  body .everything .every-projects-link .header .main-header svg {
    width: var(--header-font-size);
    height: var(--header-font-size);
  }
  body .everything .every-projects-link .header .sub-header {
    opacity: 50%;
    font-size: var(--text-font-size);
    font-weight: bold;
  }
  body .everything .every-projects-link .every-projects-body {
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto 30%;
    gap: 5vh;
  }
  body .everything .every-projects-link .every-projects-body {
    width: 100%;
    display: grid;
    grid-template-columns: 30% auto 30%;
    gap: 5vh;
  }
  .show-item {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 15vh;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: var(--object-font-size);
    background: var(--s1-color);
    border-radius: 0.5vh;
    border: 0.3vh solid var(--p1-color);
  }
  @media (min-width: 940px) {
    .search-btn:hover {
      background: #D82148 !important;
    }
    .search-btn:hover .search-txt {
      color: var(--s1-color);
    }
    .mobile-options {
      display: none;
    }
    .search-item::before, .show-item::before {
      transition: 0.2s ease-in-out;
      position: absolute;
      z-index: -1;
      right: -5%;
      bottom: -10%;
      content: "";
      width: 100%;
      height: 100%;
      background: var(--s2-color);
      border-radius: 0.5vh;
      border: 0.3vh solid var(--p1-color);
    }
    .search-item::after, .show-item::after {
      transition: 0.2s ease-in-out;
      position: absolute;
      top: 0%;
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 15%;
      font-size: var(--text-font-size);
      color: var(--s1-color);
      border-bottom: 0.3vh solid var(--p1-color);
    }
  }
  .show-item:hover::after, .search-item:hover::after {
    background: #D82148;
  }
  .cover-page-generator-page{
    margin-top: -100vh;
    transition: 0.2s ease-in-out;
    width: var(--p-margin);
    padding: var(--padding-whole);
    display:flex;
    flex-direction: column;
    align-items:flex-start;
  }
  .cover-page-generator-page,.cp-header
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    margin:auto;
    width:70%;
    margin-top:9.5vh;
    margin-bottom: 6vh;
  }
  .cp-main-header
  {
    font-size: var(--header-font-size);
    font-weight: bold;
    text-transform: uppercase;
  }
  .cp-sub-header
  {
    opacity: 50%;
  font-size: var(--text-font-size);
  font-weight: bold;
  }
  body .everything .cover-page-generator-page .generator-whole {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;
    margin-top: 30px;
  }
  body .everything .cover-page-generator-page .generator-whole .gen-header {
    width: 100%;
    text-align:left;
    font-size:1.5vh;
    text-transform:uppercase;
    font-weight: bold;
    padding-bottom:5px;
  }
   .generator-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
  }
   .output {
    width: 70vh;
    height: 60vh;
    background: white;
    border: 0.3vh solid var(--p1-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  .top-part {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    justify-content: center;
    gap: 0.5vh;
  }
.college-name {
  text-align: center;
    font-size: 2vh;
    padding-left:10px;
    padding-right: 10px;
  }
.address {
    font-size: 1.5vh;
  }
 .affiliated {
    font-size: 1vh;
  }
  .clg-logo {
    position: absolute;
    top: 27%;
    width: 10vh;
    height: 10vh;
    overflow: hidden;
  }
  .clg-logo img {
    width: 100%;
    height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  }
  .titles {
    position: absolute;
    top: 47%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-size: 1.5vh;
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
  }
  .submitted{
    position: absolute;
    top: 70%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-size: 1.3vh;
    font-weight: bold;
  }
  .subm-header{
    font-size: 1.5vh;
    text-decoration: underline;
    font-weight:bold;
  }
  .signature{
    position: absolute;
    top: 95%;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    gap: 1vh;
    font-size: 1vh;
    font-weight:900;
    text-transform: uppercase;
    padding-right: 20px;
  }
  .subject select {
    cursor: pointer;
    width: 100%;
    border-radius: 0.5vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    padding: 1vh;
    font-size: var(--text-font-size);
    margin-bottom:5px;
  }
  .subject select optgroup {
    color: var(--p1-color);
    font-size: 2vh;
    width: 100%;
  }
  .subject select optgroup option {
    width: 100%;
    font-size: var(--text-font-size);
  }
  .name-selector input{
    padding: 1vh 2vh;
    font-size: var(--text-font-size);
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    margin-bottom:5px;
  }
   .roll-no-selector input{
    padding: 1vh 2vh;
    font-size: var(--text-font-size);
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    margin-bottom:5px;
  }
  .report-no-selector input{
    padding: 1vh 2vh;
    font-size: var(--text-font-size);
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    margin-bottom: 5px;
  } 
  .title-selector input{
    padding: 1vh 2vh;
    font-size: var(--text-font-size);
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background: var(--s1-color);
    border: 0.3vh solid var(--p1-color);
    margin-bottom:30px;
  }
  .download{
    padding: 1vh 2vh;
    font-size: 2vh;
    font-weight: bold;
    color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 0.5vh;
    background:#D82148 ;
    border: 0.3vh solid var(--p1-color);
    margin-bottom: 17px;
    cursor: pointer;
  }
  .hyperlink-header{
    font: size 2.3vh;
    font-weight:bold;
  }
  .pdf-to-docx-link a{
    font-size:1.8vh;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    opacity: 50%;
  }
  .pdf-to-docx-link a:hover{
    color: #D82148;
    opacity:100%;
  }

  
